<% block('title', "Primeiro App NodeJs") -%>

<h1>Primeiro NodeJs</h1>
<p>
	Projeto para estudar NodeJs clique <a href="/tasks">aqui</a>
	para criar tasks
</p>


<div class="abril-id-container" data-abrilid-product="VejaSP">
  &nbsp;
</div>


<script type="text/javascript" src="http://stage.id.abril.com.br/v2/scripts/widgets.min.js" charset="utf-8" defer="defer"></script>
